{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.gender_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.gender_list'|trans }}</h1>

    <div class="col-1">
        <a role="button" class="btn btn-outline-success" id="create-btn" href="{{ url('gender_create') }}" title="{{ 'action.create'|trans }}">{{ 'action.create'|trans }}</a>
    </div>


    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'gender.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.gender_name'|trans, 'gender.name') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for gender in pagination.items %}
                <tr>
                    <td>{{ gender.id }}</td>
                    <td>{{ gender.name }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ url('gender_show', {id: gender.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="{{ url('gender_edit', {id: gender.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="{{ url('gender_delete', {id: gender.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Pagination -->
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}