{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.gender_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.gender_list'|trans }}</h1>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'gender.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.gender_name'|trans, 'gender.name') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for gender in pagination.items %}
                <tr>
                    <td>{{ gender.id }}</td>
                    <td>{{ gender.name }}</td>
                    <td>
                        <a href="{{ url('gender_show', {id: gender.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}