{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.dog_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.dog_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="d-flex justify-content-center flex-wrap" id="display-container">
            {% for dog in pagination.items %}
                <div class="card text-center">
                    <figure><img class="card-img-top img-fluid" id="dog-card-img"
                                 src="{{ asset(photos_directory~dog.photoFilename) }}" alt="{{ dog.name }}"></figure>
                    <div class="card-body" id="dog-card-body">
                        <a href="{{ url('dog_show', {id: dog.id}) }}" title="{{ 'action.view'|trans }}" id="view-btn" style="text-decoration: none"><h5 class="card-title" id="dog-card-title">{{ dog.name }}</h5></a>
                    </div>
                    <p>
                        <a href="{{ url('dog_index', {'filters.breed_id' : dog.breed.id}) }}" title="{{ dog.breed.id }}">{{ dog.breed.name }}</a>
                        <a href="{{ url('dog_index', {'filters.size_id' : dog.size.id}) }}" title="{{ dog.size.id }}">{{ dog.size.name }}</a>
                        <a href="{{ url('dog_index', {'filters.gender_id' : dog.gender.id}) }}" title="{{ dog.gender.id }}">{{ dog.gender.name }}</a>
                    </p>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}