{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.dog_details'|trans({'%id%': dog.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.dog_details'|trans({'%id%': dog.id|default('')}) }}</h1>
    {% if dog is defined and dog|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ dog.id }}</dd>
            <dt>{{ 'label.age'|trans }}</dt>
            <dd>{{ dog.age }}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{ dog.description }}</dd>
            <dt>{{ 'label.picture'|trans }}</dt>
            <dd>{{  dog.picture }}</dd>
            <dt>{{ 'label.sex'|trans }}</dt>
            <dd>{{  dog.sex }}</dd>
            <dt>{{ 'label.size'|trans }}</dt>
            <dd>{{  dog.size }}</dd>
        </dl>
        <p>
            <a href="{{ url('dog_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}